{{ form_start(invitationForm,{attr:{class:'flex flex-col mt-8 bg-slate-100 p-8 rounded'}}) }}
<h1 class="h3 mb-3 font-weight-normal">Renseigner email de votre invité :</h1>

{{ form_label(invitationForm.email,'Votre Email',{'label_attr':{'class':'mt-4 mb-1 text-left',}}) }}
{{ form_widget(invitationForm.email, {'attr':{'class':'px-2 py-1
ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6'}}) }}
<span class="mb-4 text-left text-red-500">{{ form_errors(invitationForm.email) }}</span>


<button type="submit" class="mt-5 btn-primary bg-slate-300 hover:bg-slate-200">Envoyer</button>
{{ form_end(invitationForm) }}






    
    


