{% extends 'base.html.twig' %} 
{% block title %}Detail{% endblock %} 
{% block body%}
    <main class="relative flex md:flex-row flex-col justify-between bg-red-100 p-5 text-slate-900">
        <p class="absolute top-2 right-4 text-xs italic"> ajouté le {{ book.addedAt | date("d/m/Y")  }} par {{ book.addedBy }}</p>

        <div class="md:mt-20 mt-5">
            <a class="text-xs text-neutral-900 mb-5 absolute top-5" href="{{ path('app_book_index') }}"> << Retour à la liste</a>
            <img
            class="h-[150px] md:h-[400px] book-detail-img  mx-auto mb-4 "
            src={{ book.thumbnail |replace({'http:': 'https:'}) }}
            alt={{ book.title }}
            />

            <div 
            {{ react_component('Component/RatingComponent',
            {'book': book | serialize('json',{ groups:['book:read','userbook:read'] }) }) }}>
            </div>
            <p class="text-center  font-semibold text-sm   ">
                <a class="text-blue-400 hover:text-red-400 hover:underline hover:decoration-red-500" 
                    href="{{path('app_book_comments',{'id': book.id})}}">Voir tous les commentaires !</a></p>
        </div>
        
        <div class="w-full md:w-3/4 mx-auto p-2 sm:p-10 relative">  
            <h2 class="text-xl font-semibold ">{{ book.title }}</h2>
            <h3 class="font-bold">
                {% for author in book.authors %}
                    {{ author.name }}&nbsp;
                {% endfor %}
            </h3>
            <p class="text-xs">Pages  : {{ book.pageCount }}</p>
            <p class="flex flex-wrap justify-center mt-4 w-75 max-w-[600px]">
            {% for tag in book.kinds %}    
                {# <span class="mx-3 md:mx-5 bg-cyan-300 rounded-2xl px-3 py-1 text-sm mb-2">{{ tag.name }}&nbsp;</span> #}
                <span 
                    style ="background:  {{ tag.bgColor }}; color: {{ tag.color}};"
                    class="rounded-2xl px-3 py-1 text-sm mb-2 mx-1">{{ tag.name }}&nbsp;</span>   
            {% endfor %}
            </p>
            <p class="my-6 mx-1 sm:mx-6 text-left text-sm font-light">
                {{ book.description | raw }}
            </p>
            {% if book.AddedBy is same as app.user %}
                <div class="mt-5 -translate-x-5">
                    <a
                    href="{{ path('app_book_edit', { id: book.id }) }}"
                    class="text-center text-sm btn-primary  py-1 text-black font-medium bg-purple-300 hover:bg-purple-400 m-w-[300px]"
                    >Editer
                    </a> 
            </div>
            {% endif %} 
        </div>  

    </main>     

    <div class="bg-slate-600 w-full h-1"></div>
    
    {# ________Gestion formulaire userBook______ #}
    {% set userBookId= -1 %}
    {% for userBook in book.userBooks  %}
        {% if userBook.user == app.user %}    
            {% set userBookId = userBook.id %}
            <section class="grid-container bg-amber-200 py-2 relative" >
            <a class="text-xs text-neutral-900 mb-5 absolute top-5 left-5" href="{{ path('app_book_index') }}"> << Retour à la liste</a>

                <h2 class="mt-5 py-2 text-2xl font-semibold ">Mes informations sur ce livre</h2>
                <div class="container rounded-lg shadow-lg mb-4 w-[350px] mx-auto text-sm bg-amber-100  px-3 py-2">
                    <p>Dans ma liste de lecture depuis le {{ userBook.createAt | date("d-m-Y")}}</p>
                    <p >Statut : <span class="font-semibold">{{ userBook.status}}</span></p>
                </div>
                <div {{ react_component('Library/UserBook',
                    {'status':status | serialize('json',{ groups:['userbook:read'] }),
                    'userBook': userBook | serialize('json',{ groups:['userbook:read'] }),
                    'action':path('app_userbook_edit', {'id': userBook.id} ) }) }}>></div>
            </section>
        {% endif %}
    {% endfor %} 
 
    {% if userBookId == -1 %}
    
    <section class="bg-red-100 text-center py-4">
        <form class="inline" method="post" action="{{ path('app_userbook_add') }}">
            <input class="" type="hidden" value={{ book.id }} name="bookId">
            <button 
            type="submit" 
            class=" text-center text-sm btn-primary py-1 text-black font-medium bg-amber-300 hover:bg-amber-500"
            >Ajouter à ma liste de lecture</button>
        </form> 
    </section> 
    {% endif %}

{% endblock %}
