<!DOCTYPE html>
<html class="h-[100vh]">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{include('./email/_style_invitation.html.twig')}}
    </head> 
    <body>
        <div class="notice-container">
            <div class="bandeau">
                <img class="pl-4 rounded-full h-[20vw] max-h-[220px] min-h-[60px] min-w-[76px]" 
                src="{{ absolute_url('images/bouc.jpeg') }}" alt="logo shareBouc">
                <h1>{{user.pseudo}} t'invite à rejoindre la communeauté ShareBouc !</h1>
            </div>
            <p>Bonjour</p>
            <p>Je vous envoie ci-dessous un lien d'invitation pour vous connecter sur mon site de partage de lecture.<br />
                Ce site n'est pas ouvert à tout le monde. Il est limité au cercle des amis ou de la famille. Il n'y donc pas possibilité de s'enregistrer pour quelqu'un qui n'a pas recu le lien d'invitation. 

            <p class="register-link"><a href="{{ url }}">Lien d'accès au formulaire d'enregistrement</a></p>
          </p>
            
          {{include('./home/_notice.html.twig')}}
          
            <p>Si vous avez des idées d'amélioration, je suis preneur. Catcat m'avait suggérer d'ajouter les séries TV...</p>
            <p>Jean-Pierre</p>
        </div>
    </body>
</html>




